@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: hsl(210, 36%, 96%);
  font-family: 'Open Sans', sans-serif;
}
